<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/tailwind.css">
    <title>CWS Payment Gateway</title>
    <style>
        .key{
            width:30%;
        }
    </style>
</head>
<body>
   <!-- nav -->
 

   <nav class="bg-white px-2 sm:px-4 py-2.5 dark:bg-gray-900 fixed w-full z-20 top-0 left-0 border-b border-gray-200 dark:border-gray-600">
    <div class="container flex flex-wrap items-center justify-between mx-auto">
    <a href="https://flowbite.com/" class="flex items-center">
        <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">CWS Payment API</span>
    </a>
    <div class="flex md:order-2">
            <button class="w-fit px-3 py-2 rounded-md shadow-md bg-slate-800 text-white">Logout</button>
        <!-- <button data-collapse-toggle="navbar-sticky" type="button" class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-sticky" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
      </button> -->
    </div>
    <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
     
    </div>
    </div>
  </nav>
  
    <div class="w-full pt-20 px-10">
       
       <div class="w-full bg-slate-600 px-10 py-10 flex text-white">
        
           <div class="md:w-1/2 lg:1/2 w-full px-5">
            <p>Informasi Akun</p>
            <hr>
           <table>
            <tr>
                <td class="key">user id</td>
                <td>: <%= info.sub %></td>
            </tr>
            <tr>
                <td class="key">username</td>
                <td>: <%= info.preferred_username %></td>
            </tr>
            <tr>
                <td class="key">contact</td>
                <td>: <%= info.contact %></td>
            </tr>
            <tr>
                <td class="key">email</td>
                <td>: <%= info.email %></td>
            </tr>
            <tr>
                <td class="key">app name</td>
                <td>: <%= info.app_name %></td>
            </tr>
            <tr>
                <td class="key">app code / id</td>
                <td>: <%= info.app_code %></td>
            </tr>
            <tr>
                <td class="key">url notification</td>
                <td>: <%= info.url_notification %></td>
            </tr>
           </table>
           </div>
            <div class="w-full md:w-1/2 lg:w-1/2 px-5">
              <p>  Access to API</p>
              <hr>
              <button onclick="generateKey()" class="w-fit px-3 py-2 shadow-md bg-slate-800 rounded mt-5">Generate API key</button>
             <div class="w-full" id="formapi">
                <div id="apikey" class="w-full"></div>
               
             </div>
            </div>

       </div>

       <div class="w-full bg-slate-900 px-20 py-10 text-white mt-10">
        <p>Example request: </p>
        <p class="bg-slate-700 px-10 py-5">
            let config : {<br>
               method : 'GET/POST',  <br>
               headers: {<br>
               &nbsp;&nbsp; app_id : 'your_app_id',<br>
               &nbsp;&nbsp; apikey :'your_apikey',<br>
               &nbsp;&nbsp; content-type : 'application/json'<br>
               &nbsp;&nbsp; }<br> 
            }<br>
            fetch(URL ,config).then(...)
        </p>
    </div>
    </div>


  <!--end nav  -->

 
</body>
</html>

<script>
 let OTPvalidation = false
 let data;

    const copy = () => {
  // Get the text field
  var copyText = document.getElementById("copy");

  // Select the text field
  copyText.select();
  copyText.setSelectionRange(0, 99999); // For mobile devices

  // Copy the text inside the text field
  navigator.clipboard.writeText(copyText.value);
  
}
 
 const validation = () => {
    console.log('tes')
    var apibox = document.getElementById('apikey')
      

        data = document.getElementById('dataOTP').value ? document.getElementById('dataOTP').value : ''
        apibox.className = 'border border-white text-white px-5 mt-5';

       fetch("http://localhost:8082/api/payment/v1/account/OTP",{
    method: "POST",
    credentials: 'include',
    headers: {
    'Accept': 'application/json, text/plain, */*',
    'Content-Type': 'application/json'
  },
    body:JSON.stringify({otp:data})
  })
  .then((response) => response.json())
  .then((data) => {
    document.getElementById('divapi').innerHTML =''
   
      apibox.innerHTML= data.apikey 
      console.log(data)
  })
 .catch((err) => {
     console.log(err);
 });

 }


 
 const generateKey = ()=> {

    fetch("http://localhost:8082/api/payment/v1/account/OTP",{
    method: "GET",
    credentials: 'include',
  })
  .then((response) => {
    if(response.status == 200) {
        var formapi =  document.getElementById('formapi')
  var divAPi = document.createElement('div')
  divAPi.className  = 'w-full flex'
  divAPi.id = 'divapi'


  var formOTP = document.createElement('input')
  formOTP.type ='text'
  formOTP.id  ='dataOTP'
  formOTP.placeholder = 'Masukan Kode OTP'
  formOTP.className  = 'text-slate-800 mt-3'
  var btn_validasi = document.createElement('button')
  btn_validasi.innerHTML = 'validasi'
  btn_validasi.id ='clickbtn'
  btn_validasi.onclick = validation
  btn_validasi.className = 'rounded shadow-md bg-slate-900 px-3  ml-2'
 
  divAPi.append(formOTP)
  divAPi.append(btn_validasi)
  formapi.append(divAPi)
  
    }
  })
 .catch((err) => {
     console.log(err);
 });

 } 


</script>